* {
box-sizing: border-box;
}
body {
margin: 0;
font-family: 'Margarine', sans-serif;
line-height: 1.5;    
}

.main-header {
height: 850px;
padding-top: 170px;
/*background-image: url('../img/Lake.jpg');*/
/*background-image: radial-gradient(circle at top, #ffa949, firebrick);
background-image: linear-gradient(#ffa949, firebrick);*/
background: linear-gradient(lightblue, transparent 90%),
#ffa949 url('../img/mountains.jpg');    
background-repeat: no-repeat;    
background-size: cover;
background-position: center;
}

.main-header, .title {
text-align: center;
}

.title {
font-size: 1.625cm;
color: white;
letter-spacing: .065cm;
font-weight: 200;
border-bottom: 2px solid;
padding-bottom: 10px;    
}

.primary-content {
border: 3px solid red;
text-align: center;
padding-bottom: 95px;
}

.secondary-content {
padding-top: 80px;
padding-bottom: 70px;
border-bottom: 2px solid #dfe2e6;    
}

.primary-content, .secondary-content {
width: 60%;
margin: auto;
padding-right: 50px;
padding-left: 50px;
max-width: 900px;    
}

.t-border {
border-top: 2px solid grey;
}

/*ul li {
margin-bottom: 5px;
}*/

ul, ol {
margin-left: 30px 0;
}

li {
margin-bottom: 10px;
} 
.arrow {
width: 50px;
margin-top: 150px;    
}

img {
width: 100%;
margin-bottom: 20px;
border-radius: 10px;    
}

.wildlife {
/* padding-top: 100px;
padding-right: 120px;
padding-bottom: 100px;
padding-left: 120px;*/
padding: 10% 24%;
border-width: 10px 20px;
border-style:double;
border-color: black;
border-top: 10px solid black; 
margin: 105px 0 60px;
background-image: url('../img/Beach.JPG');
background-size: cover;
background-position: center;
background-repeat: no-repeat; 
box-shadow: inset 0px 0px 50px 10px rgba(0,0,0,.8);
border-radius: 10px    
}

.callout {
font-size: 1.25cm;
border-bottom: 3px solid;
padding: 0 9px 3px;
margin-top: 20px;
display: inline-block;
}
#main-footer {
padding-top: 60px;
padding-bottom: 60px;
border-bottom: solid 10px deepskyblue;
line-height: 1.3;
text-shadow: 0 1px 1px rgba(0,0,0,.8);    
}

h1 {
font-size: 5.625cm;
text-transform: uppercase;    
font-weight: normal;
line-height: 1.3;
text-shadow: 0 1px 1px rgba(0,0,0,0.8);
margin: .5cm;    
}

h2 {
font-size: 53px;
text-decoration: underline;    
font-weight: normal; 
margin-bottom: .5cm;    
}

h3 {
font-size: 20px;
margin-bottom: 1.7cm;    
}

p {

}

.resorts, .tips {
width: 46.5%;
}

.resorts {
float: left;
background-color: dimgray;    
}

.tips {
float: right;
background-color: dimgray;
}

.group:after {
content: "";
display: table;
clear: both;    
}

header {
background-color: crimson;
}

p {
font-size: 40px;
}

h1 {
font-size: 72px;
display: inline;
}

body {
color: darkslateblue; 
}

.title {
color: plum;
}

.main-header {
background-color: black;
}

.wildlife {
color: white;
background-color: #434a52;    
}

ul li {
color: white;
}

h1 {
color: aqua;
}

h3 {
color: blue;
}

a:link {
color: deepskyblue;
text-decoration: none;    
}

a:visited {
color: darkmagenta;
}

a:hover {
color: springgreen;
}

a:active {
color: purple;
}

a:focus {
color: aqua;
background-color: indigo;
}














